@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@theme {
  --color-primary: #ff5252;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252 !important;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.container {
  width: 95%;
  margin: auto;
}

.btn-org{background:#ff5252 !important; color : #fff !important; font-weight: 500 !important; font-size: 16px !important; padding: 7px 20px !important;}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}
nav ul button:hover {
  background: none !important;
}
.sliderHome {
  overflow: inherit !important;
}

.sliderHome {
  --swiper-navigation-color: #000;
}

.sliderHome .swiper-button-prev svg,
.sliderHome .swiper-button-next svg {
  width: 22px !important;
  height: 22px !important;
}

.sliderHome .swiper-button-prev,
.sliderHome .swiper-button-next {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.sliderHome .item {
  height: 570px;
}

.sliderHome .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .sliderHome .item {
    height: 380px;
  }
}

@media (max-width: 768px) {
  .sliderHome .item {
    height: 280px;
  }
}

@media (max-width: 480px) {
  .sliderHome .item {
    height: 180px;
  }
}

.homeCatSlider {
  --swiper-navigation-color: rgba(0, 0, 0, 0.8);
}

.homeCatSlider .swiper-button-prev svg,
.homeCatSlider .swiper-button-next svg {
  width: 18px !important;
  height: 18px !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
}

.homeCatSlider .item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}
.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

form input::placeholder{
  font-size: 14px;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root{
  color: #ff5252 !important;
}

.MuiFormControlLabel-label{
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}