@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@theme {
  --color-primary: #ff5252;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: #666;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}
::-webkit-scrollbar-thumb {
  background: #ff5252 !important;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.container {
  width: 95%;
  margin: auto;
}

.btn-org {
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}
.btn-org:hover {
  background: #171717 !important;
}
.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}
nav ul button:hover {
  background: none !important;
}
.sliderHome {
  overflow: inherit !important;
}

.sliderHome {
  --swiper-navigation-color: #000;
}

.sliderHome .swiper-button-prev svg,
.sliderHome .swiper-button-next svg {
  width: 22px !important;
  height: 22px !important;
}

.sliderHome .swiper-button-prev,
.sliderHome .swiper-button-next {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.sliderHome .item {
  height: 570px;
}

.sliderHome .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .sliderHome .item {
    height: 380px;
  }
}

@media (max-width: 768px) {
  .sliderHome .item {
    height: 280px;
  }
}

@media (max-width: 480px) {
  .sliderHome .item {
    height: 180px;
  }
}

.homeCatSlider {
  --swiper-navigation-color: rgba(0, 0, 0, 0.8);
}

.homeCatSlider .swiper-button-prev svg,
.homeCatSlider .swiper-button-next svg {
  width: 18px !important;
  height: 18px !important;
}

.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  background: #fff !important;
  border-radius: 50% !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #ff5252 !important;
}

.homeCatSlider .item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.homeCatSlider .item:hover img {
  transform: scale(1.1);
}
.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

form input::placeholder {
  font-size: 14px;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root {
  color: #ff5252 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet {
  background: #9b9393 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

.sliderHome .swiper-slide-active .info {
  right: 0 !important;
  opacity: 1 !important;
}
.sliderHome .swiper-slide-active .info h4 {
  right: 0 !important;
  opacity: 1 !important;
}
.sliderHome .swiper-slide-active .info h2 {
  right: 0 !important;
  opacity: 1 !important;
}
.sliderHome .swiper-slide-active .info h3 {
  right: 0 !important;
  opacity: 1 !important;
}
.sliderHome .swiper-slide-active .info Button {
  right: 0 !important;
  opacity: 1 !important;
}

.sliderHome .info h4 {
  transition-duration: 1.2s;
}
.sliderHome .info h2 {
  transition-duration: 1.5s;
}
.sliderHome .info h3 {
  transition-duration: 1.8s;
}
.sliderHome .info Button {
  transition-property:
    right, opacity, background-color, box-shadow, border-color, color;
  transition-duration: 2.1s, 2.1s, 250ms, 250ms, 250ms, 250ms;
}

.MuiCheckbox-root {
  padding: 6px !important;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}
.itemViewActions button.active svg {
  color: #ff5252 !important;
  opacity: 1 !important;
}
.Mui-selected.MuiPaginationItem-page {
  background-color: #ff5252 !important;
  color: #fff !important;
}
.zoomProductSliderThumbs .swiper-slide {
  height: 120px !important;
}
.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
}
.zoomProductSliderThumbs .swiper-button-prev,
.zoomProductSliderThumbs .swiper-button-next {
  width: 100% !important;
  left: 0px !important;
  right: inherit !important;
  height: 30px !important;
  margin: 0 !important;
  border-radius: 0px !important;
  --swiper-navigation-size: 16px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  top: auto !important;
}
.productContent .actions button {
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}
.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
